//hover imcrease box shadow;
@import "@/assets/scss/global-style-variables.scss";
@import "@/assets/scss/keyframes.scss";

.loader,
.holder {
  width: 90%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 100px;
  margin: auto;

  .loading-images {
    background: $loader-bg;
    background: linear-gradient(
      to bottom left,
      $loaderMask1 0%,
      $loaderMask2 50%,
      $loaderMask1 100%
    );
    background-size: 500px;
    transition: all 0.8s;
    animation: shimmerLoading 1s linear infinite forwards;
  }

  .loading-images,
  .image-card {
    grid-row-end: span 3;
    border-radius: 5px;
    margin: auto;
    height: 200px;
    width: 200px;

    &.loaded {
      img {
        transform: translateY(30px);
      }
    }

    img {
      border-radius: 5px;
      width: inherit;
      height: inherit;
      transition: all 0.6s ease-in-out;

      &:hover {
        box-shadow: 0 7px 10px $drop-text;
        transform: scale(0.9);
      }
    }
  }

  .loading-text {
    background: $loaderMask2;
    border-radius: 8px;
    padding: 8px;
    position: fixed;
  }

  .end-text{
    position: absolute;
    bottom: 0;
    font-size: 12px;
    color: $btn-hover;
  }

  @include md-min {
    width: 75%;

    .loading-images,
    .image-card {
      grid-row-end: span 3;
    }
  }
}

.img-detail {
  display: flex;
  flex-direction: column;

  .button-link {
    background: transparent;
    color: $dark-color;
    text-decoration: none;
    float: left;
  }

  .detail-img {
    border-radius: 5px;
    margin: 2rem auto;
    height: 350px;
    width: 350px;
    box-shadow: 0 7px 10px $drop-text;

    @include md-min {
      height: 400px;
      width: 400px;
    }
  }
  span {
    word-wrap: break-word;
  }
}
